<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pagamentos</title>
    <style>
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }
        th {
            background: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2 style="text-align:center;">Enviar Comprovante</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'bolsoDigital:upload_payment' %}">
        {% csrf_token %}
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Enviar</button>
    </form>
    <h1 style="text-align:center;">Lista de Pagamentos</h1>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Usuário</th>
                <th>Método de Pagamento</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.description }}</td>
                    <td>R$ {{ expense.value }}</td>
                    <td>{{ expense.id_category.name }}</td>
                    <td>{{ expense.id_user.name }}</td>
                    <td>{{ expense.payment_method }}</td>
                    <td>{{ expense.update_at|date:"d/m/Y H:i" }}</td>                    
                    <td>
                        <a href="{% url 'bolsoDigital:delete_payment' expense.id %}"
                        onclick="return confirm('Tem certeza que deseja excluir este pagamento?');">
                        🗑️ Deletar
                        </a>
                    </td>                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Nenhum pagamento encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
